.scene-nav-info {
  bottom: 5px;
  width: 100%;
  text-align: center;
  color: slategrey;
  opacity: 0.7;
  font-size: 10px;
  pointer-events: none;
}

.scene-tooltip {
  color: lavender;
  font-size: 18px;
  transform: translate(-50%, 25px);
}

.scene-nav-info, .scene-tooltip {
  position: absolute;
  font-family: Sans-serif;
}